.catalog-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
}

.filter-bar {
  grid-column: 1;
}

.camper-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  align-items: stretch;
}

.camper-list-wrapper {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.load-more {
  align-self: center;
  margin: var(--spacing-medium) auto 0;
  padding: var(--spacing-medium) var(--spacing-large);
  background-color: var(--color-white);
  color: #101828;
  font-size: var(--font-size-body);
  font-weight: bold;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.load-more:hover {
  background-color: var(--color-button-hover);
  transform: scale(1.05);
}
