.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #101828;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 450px;
}

.menu-item {
  margin-left: 1.5rem;
}

.menu-item a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #475467;
  transition: color 0.3s ease;
}

.menu-item a.active,
.menu-item a:hover {
  color: #e44848;
}
